*{
    margin: 0;
    padding: 0;
    --sidebar-blue: #1992d4;
    --main-grey: #e2e8f0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar header"
                        "sidebar main";
    grid-template-columns: minmax(min-content,300px) 1fr;
    grid-template-rows: minmax(max-content,200px) 1fr;
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    grid-area: sidebar;
    background: var(--sidebar-blue);
    display: grid;
    align-content: start;
    gap: 30px;
    padding: 10px 15px;
    box-sizing:border-box;

}

.sidebar>.logo,
.sidebar>.menu,
.sidebar>.user-help{
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: grid;

}

.sidebar>.logo>.option,
.sidebar>.menu>.option,
.sidebar>.user-help>.option{
    display: grid;
    align-content: center;
    grid-template-columns: 44px 1fr;
    gap: 10px;
    box-sizing: border-box;
    padding: 7px;
    align-items: center;
}

.sidebar .option>svg{
    justify-self: center;
}

.sidebar>.logo>.option{
    font-size: 30px;
}

.header{
    grid-area: header;
}

.main-content{
    grid-area: main;
    background: var(--main-grey);
}


