*{
    margin: 0;
    padding: 0;
    --sidebar-blue: #1992d4;
    --main-grey: #e2e8f0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar header"
                        "sidebar main";
    grid-template-columns: minmax(min-content,300px) 1fr;
    grid-template-rows: 170px 1fr;
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    grid-area: sidebar;
    background: var(--sidebar-blue);
    display: grid;
    align-content: start;
    gap: 50px;
    padding: 10px 15px;
    box-sizing:border-box;

}

.sidebar>.logo,
.sidebar>.menu,
.sidebar>.user-help{
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: grid;
    gap: 8px;
}

.sidebar>.logo>.option,
.sidebar>.menu>.option,
.sidebar>.user-help>.option{
    display: grid;
    align-content: center;
    grid-template-columns: 44px 1fr;
    gap: 10px;
    box-sizing: border-box;
    padding: 7px;
    align-items: center;
}

.sidebar>*>.option>svg{
    justify-self: center;
}

.sidebar>.logo>.option{
    font-size: 30px;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-rows: 50px 110px;
    box-sizing: border-box;
    padding: 5px 70px 0 30px;
}

.header>.navigation-bar,
.header>.profile-bar{
    display: grid;
    align-items: center;
    justify-items: center;
    column-gap: 30px;
}

.header>.navigation-bar{
    grid-template-columns: auto minmax(300px,1fr) repeat(3,auto); 
}

.header>.navigation-bar>.search-bar{
    width: max(300px,90%);
    border-radius: 40px;
    height: 30px;
    background: var(--main-grey);
    justify-self: start;
    margin-left: -15px;
    white-space: nowrap;
}


.circle-back{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #facc15;
}

.header>.navigation-bar>.profile-name{
    font-weight: bold;
    font-size: 18px;
}

.header>.profile-bar{
    grid-template-columns: 80px max-content minmax(0px,1fr) repeat(3,100px);
    column-gap: 20px;
}

.header>.profile-bar>.profile-icon>.circle-back{
    width: 75px;
    height: 75px;
}

.header>.profile-bar>.bar-text{
    font-weight: bold;
    margin: -5px;
    font-size: 13px;
}

.header>.profile-bar>.bar-text>p:nth-child(2){
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 22px;
}

.header>.profile-bar>.button{
    background: var(--sidebar-blue);
    color: white;
    width: 95px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.header>.profile-bar>div:nth-child(3){
    grid-column-start: 4;
}

.profile-icon{
    position: relative;
}

.profile-icon>svg{
    position: absolute;
    transform: translate(-50%,-50%); 
}

.navigation-bar>.profile-icon>svg{
    left: 20px;
    top: 20px;
}

.profile-bar>.profile-icon>svg{
    left: 50px;
    top: 50px;
}


.main-content{
    grid-area: main;
    background: var(--main-grey);
}


